Backup_workflows.json
{
  "name": "Backup workflows to Github",
  "nodes": [
    {
      "parameters": {},
      "id": "0b0da999-9dbc-4222-86e3-eb2ccaa32677",
      "name": "Execute workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        304,
        240
      ]
    },
    {
      "parameters": {
        "outputFieldName": "=currentDate",
        "options": {}
      },
      "id": "709beb9e-d625-4ce2-9f1d-f17d8094822e",
      "name": "Set date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        528,
        240
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "dd-MM-yyyy/H:mm",
        "options": {}
      },
      "id": "24a0800d-93a0-459b-9c31-09f28b435c41",
      "name": "Format date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        752,
        240
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "commitDate",
              "value": "={{ $json.formattedDate }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e1aa1bde-7dfa-4aff-b69c-bc74d2db3faf",
      "name": "Set commit date",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        976,
        240
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "UR GITHUB URL",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "UR REPO URL",
          "mode": "url"
        },
        "filePath": "="
      },
      "id": "f3aaf12c-2484-4238-9a6d-3690195d4987",
      "name": "List files from repository [GITHUB]",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1200,
        240
      ],
      "alwaysOutputData": true,
      "webhookId": "c252b81f-4d1b-48a5-8990-2e70b4a537ed",
      "credentials": {
        "githubOAuth2Api": {
          "id": "co5aWFwq0zQIyxiF",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "a4a60647-706e-49b3-a989-4b2155346be3",
      "name": "Combine file names [GITHUB]",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        1424,
        240
      ]
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "3773ef46-e404-4e8a-92fc-d96d06429080",
      "name": "Retrieve workflows [N8N]",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1648,
        240
      ],
      "credentials": {
        "n8nApi": {
          "id": "TI4HYPvv5SYENDsL",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "options": {
          "fileName": "={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}.json\n"
        }
      },
      "id": "6faaeee5-dd0f-4ef7-95e8-145ff335044a",
      "name": "Move JSON to binary",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        1872,
        240
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "3690e373-1916-4770-b641-1c3ecbcac0b7",
      "name": "Split to single items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        2128,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node['Combine file names [GITHUB]'].json.name }}",
              "operation": "contains",
              "value2": "={{ $binary.data.fileName }}"
            }
          ]
        }
      },
      "id": "03c4f6bc-e61b-4577-b8ce-15c2ff41f17c",
      "name": "Check if file exists in repository",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2560,
        128
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "UR GITHUB URL",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "UR REPO URL",
          "mode": "url"
        },
        "filePath": "={{ $binary.data.fileName }}",
        "binaryData": true,
        "commitMessage": "=backup-{{ $node['Set commit date'].json.commitDate }}"
      },
      "id": "b384f5c1-8e0b-482f-bf7b-7302f5bd36de",
      "name": "Update file [GITHUB]",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        3104,
        -368
      ],
      "webhookId": "bf6efd9e-e79d-40e8-94b8-326262a47e3e",
      "credentials": {
        "githubOAuth2Api": {
          "id": "co5aWFwq0zQIyxiF",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "UR GITHUB URL",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "UR REPO URL",
          "mode": "url"
        },
        "filePath": "={{ $binary.data.fileName }}",
        "binaryData": true,
        "commitMessage": "=backup-{{ $node['Set commit date'].json.commitDate }}"
      },
      "id": "ac41fb48-57f1-4f0e-9550-351d81f0e74a",
      "name": "Upload file [GITHUB]",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        3024,
        592
      ],
      "webhookId": "03618a89-89f5-4a03-9a4d-b72a6bba18bf",
      "credentials": {
        "githubOAuth2Api": {
          "id": "co5aWFwq0zQIyxiF",
          "name": "GitHub account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Execute workflow": {
      "main": [
        [
          {
            "node": "Set date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set date": {
      "main": [
        [
          {
            "node": "Format date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format date": {
      "main": [
        [
          {
            "node": "Set commit date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set commit date": {
      "main": [
        [
          {
            "node": "List files from repository [GITHUB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repository [GITHUB]": {
      "main": [
        [
          {
            "node": "Combine file names [GITHUB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine file names [GITHUB]": {
      "main": [
        [
          {
            "node": "Retrieve workflows [N8N]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows [N8N]": {
      "main": [
        [
          {
            "node": "Move JSON to binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move JSON to binary": {
      "main": [
        [
          {
            "node": "Split to single items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split to single items": {
      "main": [
        [
          {
            "node": "Check if file exists in repository",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists in repository": {
      "main": [
        [
          {
            "node": "Update file [GITHUB]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file [GITHUB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file [GITHUB]": {
      "main": [
        [
          {
            "node": "Split to single items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file [GITHUB]": {
      "main": [
        [
          {
            "node": "Split to single items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "942482ff-4a97-4311-a126-f2a9e77ae99c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2bd1aaaa9fa7aceeed1d45f4ecbf4ab1e49495ce51bec529639cfecc628984e8"
  },
  "id": "KlJu6pQj1PdAXdL6",
  "tags": []
}
